.featured {
    width: 100px;
    max-width: 1024px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    object-fit: cover;
    z-index: -1;
}

.featuredItem{

    color: white;
    border-radius: 10px;
    position: relative;
 
}

.featuredTitles{
    position:absolute;
    bottom: 20px;
    left: 20px;

}